<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {{ if .IsHome }}
        W6YL — SJSU Amateur Radio Club
      {{ else }}
        {{ .Title }} | W6YL — SJSU Amateur Radio Club
      {{ end }}
    </title>
    {{ partial "head.html" }}
  </head>
  <body>
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ block "footer" . }}
      <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}
  </body>
</html>