<table style="width: 100%; border-collapse: collapse; text-align: center;">
    <tr>
        <td style="padding: 16px;"><a href="/index.html">Home</a></td>
        <td style="padding: 16px;"><a href="/nets/index.html">Nets</a></td>
        <td style="padding: 16px;"><a href="/repeaters/index.html">Repeaters</a></td>
        <td style="padding: 16px;"><a href="/qsl/index.html">QSL Info</a></td>
        <td style="padding: 16px;"><a href="/awards/index.html">Awards</a></td>
        <td style="padding: 16px;"><a href="/about/index.html">About</a></td>
    </tr>
</table>